body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom, #000015, #000);
    overflow: hidden;
}

#sky {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}